@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 20px 15px 25px 15px; /* top right bottom left*/
        margin-bottom: -15px;
}
    .path {
        font-weight: 900;
        font-size: 80%;
        color: #d9d9d9;
        text-align: left;
    }

    .heading {
        font-weight: 900;
        font-size: x-large;
        text-align: left;
    }

.metaData {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* font-weight: 500; */
    font-size: 80%;
    color: #c5c5c5;
    text-align: left;
    padding: 10px 5px;
    margin : 0;
}
    .authorSection {
        /* background-color: beige; */
        display: flex;
        width: 70%;
    }
        .authorSection >div {
            padding: 5px;
        }
    .authorDp {
        /* background-color: aqua; */
    }
        .authorDpImage {
            border-radius: 100%;
        }
        .authorMeta {
            display: flex;
            flex-direction: column;
            /* backrgb(207, 252, 252)ground-color: ; */
            /* background-color: blue; */
        }
            .authorMeta >span { 
                display: flex;
                flex-direction: row; 
                align-items: center;
                padding : 3px 0;
            }
            .timelogo { 
                display: flex;
                padding-right : 5px;
            }
    .responseSection {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        /* padding-right: 5%; */
        width: 30%;
        /* background-color: burlywood; */
    } 
        .likeDiv {
            /* background-color: coral; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            /* margin : 0 10px !important; */
        }
            .icon { 
                /* background-color: crimson; */
                align-self: center;
            }
            .count { 
                /* background-color: darkblue; */
                align-self: center;
            }
        .shareDiv {

        }
            .forwardIcon1 {
                transform: scale(-1, 1);
                font-size: 32px !important;
                margin-bottom: -5px;
            }

.blogImage {
    /* background-color: rgb(247, 247, 247); */
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 15px 0;  
}
.para {
    text-align: left;
}
.blogBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: chartreuse !important; */
}
    .blogBottomButton {
        background-color: #f2f2f2 !important;
        margin: 0 5px !important;
    }
        .blogBottomButtonInside {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .blogButtonIcon {
                margin: 0px 0;
            }
            .blogButtonLabel {
                font-size: 60%;
                padding:  0 10px;
                font-family: 'Quicksand', sans-serif;
                font-weight: 900;
            }
            .blogButtonStat {
                font-size: 150%;
                padding-right:  10px;
                font-family: 'Quicksand', sans-serif;
                font-weight: 900;
                color: #8c8c8c;
            }
.SgsCard {
    background-color: #fafafa !important;
    margin : 10px 0;
    padding: 10px 5px;
    font-family: 'RocknRoll One', sans-serif;
}
.SgsCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .SgsCardHeaderAuthorDp {
        width: 11%;
        padding: 2% 3%;
    }
    .SgsCardHeaderHeading {
        width: 85%;
        font-size: 110%;
        color : #595959;
    }

.SgsImageDiv {
    display: flex;
    justify-content: center;
    padding: 2px;
}
.SgsImage {
    border-radius: 8px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.SgsStat {
    font-size: 80%;
    color : #595959;
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
}
    .SgsStatBar1 {
        width: 50%;
    }
        .SgsStatTime {
            display: flex;
            flex-direction: row;
        }
    .SgsStatBar2 {
        /* background-color: rgb(68, 175, 175); */
        width: 50%;
    }
        .SgsStatStat{
            display: flex;
            flex-direction: row;
            font-size: 90% !important;
            justify-content: flex-end;
        }
        .SgsStaticons {
            /* background-color: rgb(233, 235, 155); */
            padding: 0 5px;
        }

.DetailPara {
    font-size: 90%;
    color: teal;
}