/* .ButtonOutlined {
    margin : 20px 10px;
    text-transform : none;
    font-family: 'Quicksand', sans-serif;
    border : 1px solid white;
    color : white;
    background-color: red;
} */     

/* don't know why but it is not working */