.ccTop {
    padding-bottom: 36px;
}
.lineDiv {
    display : flex;
    flex-direction: column;
    padding-top: 6%;
  }
.lineDiv > p {
    text-align : center;
    margin : 2px 0px;
}
.line1 {
    font-size : 25px;
    font-family: 'Pacifico', cursive;
    color : #ff00ff;
    text-shadow: 5px 5px 10px whitesmoke;
}
.line2 {
    font-size : 13px;
    font-family: 'Quicksand', sans-serif;
    color : white;
    opacity : 0.7;
}