
.footer {
    background-color:#ececec;
    padding : 10px;
    color : #2c2c2c;
    position: relative;
    top : 50px;
    font-family: "Poppins", sans-serif;
}
.links {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
.links > div {
    text-align: center;
    width: 100%;
}
.link {
    width: 100%;
    margin: 0 2px;
    text-decoration: none !important;
    color : #272727;
    font-weight: 600;
    text-align: center;
}
.flexContainerIcons {
    display: flex;
    justify-content : center;
}
.flexContainerIcons > div {
    margin: 5px 4%;
    padding: 5px;
    font-size: 30px;
  }
.iconLink {
    color : #4b4b4b;
}