.flexContainerIcons {
    display: flex;
    justify-content : center;
}
.flexContainerIcons > div {
    margin: 5px 4%;
    padding: 5px;
    font-size: 30px;
  }
  .footerLinks {
    display: flex;
    justify-content: space-evenly;
  }
  .footerLinks > p {
    margin: 2% auto;
    padding: 5px;
  }

  .HeaderDiv {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center; /*vertically align*/
    height: 50px;
  }
  .HeaderDiv > div {
    width: 30%;
    margin : 0 5px;
    /* background-color: red; */
  }
  .boxOuterDiv {
    background-color: rgb(255, 129, 150);
    border-radius: 8px;
    color : black;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 20px 50px 0 50px;
    padding-bottom : 20px;
    /* margin-bottom : 20px; */
  }
  
  .formDiv {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(100, 247, 2); */
  }
  .formDiv > div {
    /* background-color: tomato; */
    margin : 0px;
  }
  .radioGroupDiv {
    display: flex;
    flex-direction: row;
  }
  .radioGroupDiv > div > label {
    color :#333333;
    font-size : 900%;
  }